.our-container {
  padding-right: 40px;
  padding-left: 40px;
}

.hero-section {
  height: 100vh;
  position: relative;
}

.hero-section h1 {
  color: white;
  font-size: 100px;
  font-weight: 400;
  padding-top: 40px;
}

.hero-section p {
  color: white;
  width: 30%;
  padding-top: 10px;
}

.hero-section .weight {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.hero-section .weight h5 {
  display: inline-block;
  color: white;
  margin-left: 8px;
  font-size: 15px;
}

.hero-section-image {
  background: url("./images/car1.jpg"),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.19) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.3) 120%
      )
      #989898;

  background-size: cover;
  height: 100vh;
}
